.search-results {
    padding: 20px;
    background-color: #f5f5f5;
}

h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.book-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px; 
    padding: 0;
    list-style-type: none;
}

.book-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 19%; // 한 줄에 5개씩 표시되도록 설정
    padding: 15px;
    text-align: center;
    height: 350px; // 고정된 높이 설정
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }
}

.book-item img {
    width: 100px;
    height: auto;
    margin: 0 auto 10px;
}

.book-item h3 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; // 텍스트가 길 경우 잘리도록 설정
}

.book-item p {
    font-size: 1rem;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; // 설명 텍스트도 길면 잘리도록 설정
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}